<%= div_for shout do %>
  <hr />
  <%= gravatar(shout.user, 48) %>
	<%= link_to shout.user.username, user_path(shout.user) %> 
	shouted 
	
	<p><%= render shout.content %></p> 
	<%= time_ago_in_words(shout.created_at) %>
<% end %>